.services {
    margin-top: 90px;
    margin-bottom: 90px;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(557px, 1fr));
        gap: 26px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }

        .item {
            border-radius: $radius-item;
            background: $color-dark2;
            padding: 32px;
            display: flex;
            gap: 20px;
            @include mobile {
                flex-direction: column; 
                align-items: center;
            }
            &:hover {
                cursor: pointer;
                .item__desc {
                    color: $color-white;
                }

            }
            &__icon {
                width: 76px;
                height: 76px;
                border-radius: $radius-icon;
                background: $color-dark1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
             
            &__title {
                @include text ($font, 500, 22px, 26px, $color-white);
                margin-bottom: 12px;
                span {
                    color: $color-primary;
                }
                @include mobile {
                    text-align: center;
                }
            }
    
            &__desc {
                @include text ($font, 400, 16px, 25.6px, $color-body);
                max-width: 397px;
                width: 100%;
                margin-bottom: 40px;

                &._active {
                    color: $color-white;
                }

                @include mobile {
                    text-align: center;
                }
            }
        }
}

